<div class="row">
  <div class="col-md-12">
    <%= form_with(model: article, local: true) do |form| %>
      <%= render 'shared/errors', form: article %>
      <div class="field form-group">
        <%= form.label :title, for: "article_title" %>
        <%= form.text_field :title, id: :article_title, class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Please write title into this field.</small>
      </div>

      <div class="field form-group">
        <%= form.label :description, for: "article_description" %>
        <%= form.text_area :description, id: :article_description, class: "form-control", rows: 10 %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "form-check-label mr-2 mb-2") { cb.check_box(class: "form-check-input") + cb.text } %>
        <% end %>
      </div>

      <div class="actions form-group">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>    
  </div>
</div>

