<div class="row">
  <div class="col-md-12">
    <%= form_with(model: article, local: true) do |form| %>
      <%= render 'shared/errors', form: article %>
      <div class="field form-group">
        <%= form.label :title, for: "article_title" %>
        <%= form.text_field :title, id: :article_title, class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="field form-group">
        <%= form.label :description, for: "article_description" %>
        <%= form.text_area :description, id: :article_description, class: "form-control" %>
      </div>

      <div class="actions form-group">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>    
  </div>
</div>

