<%= render 'shared/notice' %>
<div class="jumbotron bg-none">
  <div class="float-right">
  	<div class="row ml-2">
  		<a href="<%= user_path(@article.user) %>">
  			<ul class="no-style text-center">
  				<li><%= gravatar_for @article.user, size: 120 %></li>
  				<li class="text-primary"><%= @article.user.username.capitalize %></li>
  			</ul>
  		</a>
  	</div>
  </div>  	
  <h3 class="text-dark">
	  <%= @article.title.capitalize %>  	
  </h3>
  <p class="lead">
  	<%= simple_format(@article.description.capitalize) %>  
  </p>  
	
	<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-primary" %> 
	<%= link_to 'Back', articles_path, class: "btn btn-sm btn-info" %>  
	<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>	
</div>



