<%= render 'shared/notice' %>

<%= link_to 'Create User', new_user_path, class: "btn btn-sm btn-success" %>

<h1>Lists of Users</h1>

<%= will_paginate %>

<% @users.each do |user| %>
  <div class="card w-100">
    <div class="card-body">

      <div class="card-title">  
        <div class="rounded-circile float-right">
          <%= gravatar_for user %>
        </div>
        <%= link_to user.username.capitalize, user_path(user), class: "font-weight-bold" %>
      </div> 
      
      <div class="card-text">
        <%= user.email %>
      </div> 
    </div>
      <div class="card-footer">
        <%= link_to 'Show', user, class: "btn btn-sm btn-info" %>
        <%= link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>    
        <div class="float-right text-muted"><%= pluralize(user.articles.count, "article") if user.articles.any? %></div>  
      </div>    
  </div> <br>
<% end %>

<%= will_paginate %>