
<%= render 'shared/notice' %>

<h1>Welcome to <%= @user.username.capitalize %> profile</h1>

<div class="jumbotron bg-none">
  <div class="float-right">
  	<%= gravatar_for @user, size: 130 %>
  </div>
  <p class="text-dark">
	  <strong>Username:</strong>
	  <%= @user.username %>
  </p>
  <p class="lead">
  	<strong>Email:</strong>
  	<%= @user.email %>
  </p>  
	<% if logged_in? && current_user == @user %>
  	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-sm btn-primary" %> 
  	<%= link_to 'Back', users_path, class: "btn btn-sm btn-info" %>  	
  <% end %>
</div>

<% if @user.articles.any? %>
	<h3>Lists of articles which created by <strong>"<%= @user.username.capitalize %>"</strong></h3>
  <%= will_paginate @user_articles %>
	<%= render 'articles/article', obj: @user_articles %>
<% end %>