<div class="row">
  <div class="col-md-12">
    <%= form_with(model: category, local: true) do |form| %>
      <div class="field form-group">
        <%= render 'shared/errors', form: @category %>        
        <%= form.label :name, for: "category_name" %>
        <%= form.text_field :name, id: :category_name, class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Please enter category name here.</small>
      </div>

      <div class="actions form-group">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>    
  </div>
</div>

